.navigation {
  background-color: #212121;
  position: fixed;
  top: 0%;
  width: 100%;
}

body.colorscheme-light nav {
  background-color: #fafafa;
}

.content {
  margin-top: 6rem;
}

table {
  color: #fff;
  border-spacing: 1em;
  border-radius: 0.375em;
  background: #282a36;
  width: 100%;
  padding-bottom: 0;
}

body.colorscheme-light table * {
  border-color: #fff;
}

thead {
  text-align: left;
}

.center{
  display: flex;
  justify-content: center;
}
.avatar img{
  width: 60vw;
  max-width: 500px;
}
.hidden {
  display: none;
}

.table-scroll{
  overflow-x: auto;
}

.footnote-definitions {
  margin: 1rem auto;
  max-width: 90rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footnote-body {
  display: inline-block;
  padding-left: 1rem;
}

.banner-image {
  z-index: -1;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  text-align: center;
  margin-left: -50vw;
  margin-right: -50vw;
}

figcaption {
  margin: 1rem auto;
  max-width: 90rem;
  line-height: 1.0;
  font-style: italic;
}

li > p {
  margin: 0;
}
